.button
  display: inline-block
  outline: none
  overflow: hidden
  box-sizing: border-box
  margin: 0
  padding: 8px 16px
  text-align: center
  text-decoration: none
  font-family: inherit
  font-size: 14px
  line-height: 20px
  border: 0
  border-radius: 3px
  background: none
  cursor: pointer
  user-select: none

  &::-moz-focus-inner
    padding: 0
    border: 0

  &:hover,
  &:focus
    text-decoration: none

  &_type
    &_primary
      background: #005999
      color: #fff
      font-weight: bold
      transition: box-shadow .2s
      will-change: box-shadow

      &:hover
        box-shadow: 0 0 10px rgba(darken(#005999, 24), .5)

    &_delete
      font-size: 0
      width: 16px
      height: 16px
      background: #ddd
      padding: 0
      border-radius: 50%
      transition: background-color .2s

      &::before,
      &::after
        content: ''
        position: absolute
        width: 1px
        height: 10px
        background: #555
        top: 50%
        left: 50%

      &::before
        transform: translateX(-50%) translateY(-50%) rotate(-45deg)

      &::after
        transform: translateX(-50%) translateY(-50%) rotate(45deg)


      &:hover
        background: darken(#ddd, 16)

  &_small
    font-size: 12px
    line-height: 16px
    padding: 4px 8px
