body
  font: 14px/1 Helvetica, Arial, sans-serif
  background: #eee

body,
h1, h2, h3,
p, ul, ol, li
  margin: 0

ul, ol, li
  list-style: none
  padding: 0

.link
  color: #005999

  &:hover
    color: lighten(#3af, 8)
