.form
  &__item
    padding-bottom: 32px
    position: relative

    &:not(:last-child)
      margin-bottom: 8px

  &__input
    width: 100%
    box-sizing: border-box
    padding: 10px 16px
    border: 1px solid #ddd
    font-size: 16px

    &_invalid
      border-color: #c0392b

    &:focus
      outline: none
      background: #fff
      border-color: #ccc
      box-shadow: 0 0 10px rgba(#000,.1)

  &__error-notice
    position: absolute
    top: 48px
    color: #c0392b
    font-size: 12px
    line-height: 14px
    padding: 0 16px

  &__button
    margin-right: 16px

  &_type
    &_add
      padding: 8px 16px

    &_auth
      position: relative
      padding: 16px
      background: #fff
      border-radius: 6px

      .progress
        position: absolute
        top: 0
        left: 0
        width: 100%
        border-radius: 6px 6px 0 0
