.page
  height: 100%
  box-sizing: border-box

  &__header
    margin-bottom: 16px

  &__title
    font-size: 32px
    line-height: 40px
    font-weight: normal
    color: #c0392b

.page_type_auth
  max-width: 480px
  margin: auto
  padding: 32px

.page_type_landing
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  background: url('./page_type_landing.png')
  background-size: 200px

.map
  width: 100%
  height: 100%
  position: relative

  &_loading
    &::before
      position: absolute
      z-index: 2
      content: 'LOADING...'
      width: 100%
      height: 100%
      top: 0
      left: 0
      background: rgba(#fff, .5)
      text-align: center
      font-weight: 700
      font-size: 40px
      line-height: 200px


