.user-info
  padding: 16px 24px
  text-align: center
  border-top: 1px solid #ccc
  border-bottom: 1px solid #ccc

  &__email
    display: block
    margin-bottom: 8px

.main-menu
  border-top: 1px solid #eee

  &__item
    border-bottom: 1px solid #eee

  &__link
    display: block
    padding: 16px 24px

    &:hover
      background: #f8f8f8

.navigation__logo
  display: block
  color: #e74c3c
  text-transform: uppercase
  font-size: 12px
  font-weight: bold
  text-decoration: none
  padding: 16px 6px

  &::before
    content: ''
    display: inline-block
    vertical-align: middle
    width: 40px
    height: 40px
    background: url('./logo.svg') 50% no-repeat
    font-size: 0
