.app
  display: flex
  background: #eee
  overflow: hidden
  height: 100%
  max-height: 100vh
  min-height: 100vh

.app__aside
  order: -1
  flex-shrink: 0
  flex-basis: 320px
  background: #fff
  position: relative
  z-index: 1
  box-shadow: 0 0 16px rgba(#000, .1)
  overflow: auto

.app__body
  flex-grow: 1


