.point-list
  &__item
    position: relative
    padding: 12px 40px 12px 16px
    border-bottom: 1px solid #eee
    background: #fff

    &:active
      box-shadow: 0 0 5px rgba(#000 ,.2)

    &:first-child
      border-top: 1px solid #eee

    &:hover
      background: #f8f8f8

  &__button-delete
    position: absolute
    right: 16px

